.headerContainer {
  height: 11rem;
  border-bottom: 1px solid var(--gray-300);
  background: var(--gray-100);
  z-index: 50;
  h3 {
    font: 400 1rem "Roboto", sans-serif;
  }

  &.active::after {
    content: "";
    text-decoration: none;
    height: 3px;
    border-radius: 4px 4px 0 0;
    width: 100%;
    position: absolute;
    bottom: 1px;
    left: 0;
    background: var(--green-600);
  }

  &.active {
    color: var(--green-600);
    svg {
      fill: var(--green-600);
    }
  }
}