.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;

  h2 {
    margin-top: 1rem;
  }
  .Content {
    display: flex;
    flex-direction: column;

    p {
      font-size: 18px;
    }
  }
}
