.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;

  h2 {
    margin-top: 1rem;
  }
  
  > div {
    padding: 2rem;
    
    &:nth-child(odd) {
      background: #f8f8f8;
    }
    
  }
  
}

@media (max-width: 720px) {
  .Container {
    font-size: 100%;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 1rem;

    > div {
      padding:1.5rem;
      
      &:nth-child(odd) {
        background: #f8f8f8;
      }
      
    }
  }
}

