.Container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
    .Content {
        
        > div {
            padding: 2rem;
            
            &:nth-child(odd) {
              background: #f8f8f8;
            }
        }        
        .containerProduct{

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            
            h4, h2  {
                margin-top: 1rem;
                font-weight: 700;
            }
            
            p {
                
                font-size: 1.3rem;
                font-weight: 400;
                text-align: justify;
            }
        }
    }
}

// @media (min-width: 1920px) {
//     .Container {
//       max-width: 1200px;
//       margin: 0 auto;
//       padding: 0 2rem;
//     }
//   }
  