.contentContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;

  a {
    text-align: left;
  }

  .content {
    height: 100%;
    h3 {
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      text-decoration: none;
    }

    button {
      background: var(--white);
      border: none;
      color: var(--green-600);
      padding: 1rem;
      font-family: "Roboto", sans-serif;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;

      cursor: pointer;
      border: 2px solid var(--green-600);
      border-radius: 0.5rem;
      transition: 0.8s;

      &:hover {
        background-color: var(--green-600);
        color: var(--white);
      }
    }

    .contentShelf {
      //Estante
      margin-top: 2rem;
      height: auto;
      overflow: hidden;
      position: relative;

      img {
        height: 235px;
        width: 300px;
      }

      .custonShelf {
        margin-top: 1rem;
        height: 4rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
          width: 70%;
          padding: auto;
        }
        button {
          margin: 1 auto;
        }
      }
    }

    .informe {
      overflow: hidden;
      .custonInforme {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
          width: 70%;
        }
        button {
          margin: 1 auto;
        }
      }
    }

    .title {
      height: 3rem;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;

      justify-content: space-between;

      p {
        font-weight: 400;
        font-size: 0.8rem;
        color: var(--gray-300);
      }

      h3 {
        margin-bottom: 2rem;
      }
    }

    .mapaColaborativo {
      margin-top: 1rem;
      margin-bottom: 2rem;
      position: relative;

      &:hover .overlay {
        opacity: 1;
      }
      .overlay {
        position: absolute;
        top: 1;
        bottom: 0;
        left: 0;
        right: 0;
        height: 83%;
        width: 74.5%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: #f3f3f323;
        border-radius: 1rem;
        cursor: pointer;
      }
      .text {
        color: rgb(0, 59, 13);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }

      @media (max-width: 720px) {
        .overlay {
          width: 50%;
          height: 75%;
          background-color: #36363623;
        }
        .text {
          left: 55%;
        }
      }

      img {
        margin-top: 2rem;
        cursor: pointer;
        display: block;
        height: auto;

        // &:hover {
        //     transition: .8s;
        //     opacity: 85%;
        //     filter: grayscale(30%);
        // }
        @media (max-width: 720px) {
          width: 50%;
        }
      }
    }
  }
}

.carouselContainer {
  margin-top: 1rem;
  border-radius: 5rem;
}

@media (max-width: 720px) {
  .contentContainer {
    font-size: 85.5%;

    .content {
      margin-bottom: 0;
      margin-top: 0;
      button {
        padding: 0.6rem;
        font-size: 0.8rem;
      }
      .contentShelf {
        img {
          width: 60%;
          height: 60%;
        }
      }
      .informe {
        height: 15rem;
        .custonInforme {
          a {
            padding: 1rem 0;
            height: 100%;
          }
          h3 {
            text-align: left;
            height: 3rem;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .contentContainer {
    width: 100vw;
    border: 0;
    padding: 0;
    position: relative;

    .content {
      max-width: 100%;
    }
  }
}
