.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .search {
    //background: rgb(228, 228, 228);
    border: solid 1px var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 1rem;
    height: 40px;
    width: 20rem;
    border-radius: 40px;
    margin: 2rem;

    a {
      color: green;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      float: right;
      display: flex;
    }
    img {
      margin-right: 1rem;
    }
    .inputSearch {
      border: none;
      background: transparent;
      outline: none;
      width: 100%;

      float: left;
      padding: 0;
      color: var(--gray-750);
      font-size: 16px;
      transition: 0.4s;
      line-height: 40px;
    }
    &:focus-within {
      box-shadow: 0 0 0.4rem var(--gray-300);
    }
  }

  h2 {
    margin-top: 1rem;
  }

  h3 {
    font-size: 20px;
  }

  .Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .Container {
    h3 {
      align-items: center;
      text-align: center;
    }
  }
}
