.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  img {
    margin: 0 auto;
    padding: 1rem 0rem 2rem;
  }
  h2 {
    margin-top: 1rem;
    text-align: center;
  }
  p {
    font-size: 1.3rem;
    font-weight: 400;

    align-items: center;
    text-align: justify;
  }
}

@media (max-width: 720px) {
  .Container {
    font-size: 100%;
    max-width: 100vw;
    padding: 2rem;
    margin: 0;
    font-size: 1rem;
  }
}
